<!--<h1>Editing Conversation</h1>-->
 
<!--<h1> Edit Conversation</h1>-->
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<h1>Chatbox</h1>

<!--<p id="notice"><%= notice %></p>-->

<div class='right_column'>
  
  <div id="messages">
  <%= render :partial => 'messages', :object => @messages %>
  </div>


  <%= form_for Message.new, :html => {:id => "message_box"}, :url => '/messages', remote: true do |f| %>
    <%= f.text_field :content %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.hidden_field :conversation_id, {value: @conversation.id}%>
    <%= f.submit "submit message" %>
  <% end %>

  <%- @participant = current_user %>
  <%- @survey = Survey::Survey.first %>
  <%- if @survey.available_for_participant?(@participant) %>
  <%= render 'contests/surveys/form' %>
  <% else %>
  Uupss, <%= @participant.name %> you have reach the maximum number of
  attempts for <%= @survey.name %>
  <% end %>

</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<script>
  console.log('inside edit.html.erb');
  // var conversation_id = <%= @conversation.id %>;
  // console.log("within edit, conversation id is: "+conversation_id)
  // var Thera = this; 
  // console.log("Thera global obj is :" + Thera);
  // console.log("Gon conversation id: " +gon.conversation_id);
</script>



<!--IGNORE THIS SHIT-->
<!--<script type='text/coffeescript'>-->
<!--  # Place all the behaviors and hooks related to the matching controller here.-->
<!--# All this logic will automatically be available in application.js.-->
<!--# You can use CoffeeScript in this file: http://coffeescript.org/-->
<!--update = ->-->
<!--  $.get '/conversations/' + conversation_id/ + '.json', null, (data, status, jqXHR) ->-->
<!--    msgsSorted = _.sortBy data, (message) ->-->
<!--      new Date(message.created_at).getTime() # get messages sorted by creation time ascending-->

<!--    # refreshing messages list-->
<!--    $('.message_box').empty()-->
<!--    for m in msgsSorted-->
<!--      d = moment(m.created_at)-->
<!--      $('.message_box').append('<li>' +-->
<!--      '<span class="created_at">' + d.format('hh:mm') + '</span>' +-->
<!--      m.content +-->
<!--      '</li>')-->

<!--    setTimeout update, 750 # polling at least every 750 ms but don't overlap between requests-->

<!--update() -->
<!--</script>-->
<!--<script type="text/javascript" src="./assets/javascripts/conversations.coffee"></script>-->
<!--<script type="text/javascript" src="./app/assets/javascripts/application.js"></script>-->
<!--<script type="text/javascript" src="./app/assets/javascripts/messages.coffee"></script>-->
<!--<script type="text/javascript" src="./app/assets/javascripts/moment.min.js"></script>-->


<!--<script type="text/javascript" src="http://github.com/jashkenas/coffee-script/raw/master/extras/coffee-script.js"></script>-->