<div class="alert alert-info col-md-9 center-block">
<div>
<span class="pull-right">
  <%= render 'devise/menu/login_items' %>
</span>
</div>

<h1 id="list_users"> Admin Dashboard </h1>
<p id="notice"> <%= notice %> </p> 
<h3 id="add_user"><%= link_to 'Add a new Volunteer', new_user_path, :id => "add_user_text" %> </h3>

<h3 id="user_listing">User Listing</h3>
<table id="user_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="user_list">
    <tr>
      <td>Me (<%= current_user.name %>) </td>
      <td><%= current_user.email %></td>
      <td><%= current_user.role.name %></td>
      <td>
        <div class="<%= current_user.email.gsub(/[^A-Za-z0-9]/,'')%>_edit"><%= button_to 'Edit', edit_user_path(current_user), :method => :get%>
        </div>
      </td>
      <td>
      <div class="<%= current_user.email.gsub(/[^A-Za-z0-9]/,'')%>_destroy"><%= button_to 'Destroy', current_user, method: :delete, data: { confirm: "Are you sure?" }  %>
      </div>
      </td>
    </tr>
    <% @users.each do |user| %>
      <% if user != current_user %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
          <td><div class="<%= user.email.gsub(/[^A-Za-z0-9]/,'')%>_edit"><%= button_to 'Edit', edit_user_path(user), :method => :get %></div></td>
          <td><div class="<%= user.email.gsub(/[^A-Za-z0-9]/,'')%>_destroy"><%= button_to 'Destroy', user_path(user), method: :delete, data: { confirm: "Are you sure?" }   %></div></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3 id="bad_conversation">Bad Conversations</h3>
<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Volunteer</th>
      <th>Feedback</th>
      <th>Conversation</th>
      <th>Date</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="conversation_list">

    <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.rating %></td>
          <% if !survey.conversation.nil? and !survey.conversation.recipient.nil? %> 
          <td><%= survey.conversation.recipient.name %></td>
          <% else %>
          <td>No conversation recipient found</td>
          <% end %>
          <td><%= survey.text %></td>
          <% if !survey.conversation.nil? %> 
          <td><%= link_to 'View Conversation', conversation_messages_path(survey.conversation) %></td>
          <% else %>
          <td>No conversation link found</td>
          <% end %>
          <td><%= survey.updated_at %></td>          
        </tr>
    <% end %>
  </tbody>
</table>
</div>




