<!DOCTYPE html>
<html>
<head>
  <!--Loads application.s (which contains all our javascript) and does so async so that inline JS doesn't fuck up external JS. -->
  <%= javascript_include_tag "application", async: Rails.env.production? %> 
  <title>Thera</title>
</head>
<body>

<% if user_signed_in? %>
  <% if current_user.survivor? %>
  Welcome Survivor
  <% else %>
  Signed in as <%= current_user.name + ": " + current_user.role.name %>
  <% end %>
<% end %>
<%= render "devise/shared/nav_links" %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>


<%= yield %>

</body>
</html>
