<!DOCTYPE html>
<html>
<head>
  <!--Loads application.s (which contains all our javascript) and does so async so that inline JS doesn't fuck up external JS. -->
<!-- set async: Rails.env.production? when we actually push this to prod-->
  <%= javascript_include_tag "application", async: true %>  
  <title>Thera</title>
  <%= include_gon(:init => true) %>
  <%= Gon::Base.render_data({}) %>
  
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>-->
</head>
<body>

<% if user_signed_in? %>
  <% if current_user.survivor? %>
  Welcome Survivor
  <% else %>
  Signed in as <%= current_user.name + ": " + current_user.role.name %>
  <% end %>
<% end %>
<%= render "devise/shared/nav_links" %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>


<%= yield %>

</body>
</html>
